<mat-card id="topleft-mid-card" style="height:100px; width:283px; background-color:rgb(62, 170, 236);">

    <div style="display: flex; justify-content: space-between;">
    <p style="font-size: 10px;">Shortlisted Candidates</p>
    <button mat-flat-button style="width:2px; height:20px; background-color:rgb(62, 170, 236);" [matMenuTriggerFor]="menu">
        <mat-icon style="font-size:12px">more_horiz</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>View Details</button>
                <button mat-menu-item>Download Stats</button>
            </mat-menu>
    
    </button>
    </div>
    
    
    
    <div style="display: flex; justify-content: space-between;">
    
    <div class="container">
    <p style="font-size: 18px;">4658</p>
    <mat-icon style="font-size:13px; color:rgb(255, 255, 255)">north_east</mat-icon>
    <span style="display: inline; font-size:10px; color:rgb(255, 255, 255)">+0.6%</span>
    </div>
    
    
    <div align="right" style="margin-top:0.5%;">
        <circle-progress
            [percent]="60"  
            [space]="-10" 
            [radius]="30" 
            [outerStrokeWidth]="10"
            [outerStrokeColor]="'rgb(255, 255, 255)'"
            [innerStrokeColor]="'rgb(151, 211, 228)'"
            [animation]="true"
            [animationDuration]="1000"
            [maxPercent]="100"

            [title]="'+60%'"
            [titleColor]="'rgb(255, 255, 255)'"
            >
        </circle-progress>
    </div>
    
    
    </div>
    
    </mat-card>