<mat-card id="image-card" style="width:450px; height:200px; background-color:rgb(0, 0, 0);">

    <div class="container" style="line-height: 0.5em; text-align: center;">
        <div class="container-a">
            <p style="font-size: 15px;">Hello John Bayer,</p>
            <p style="font-size: 15px;">You Have 8 New Applications Today!</p>
        </div>


        <img src='./assets/picture.png' alt="image" width="260px" />

    </div>
    
    <button mat-raised-button style="width:450px; height:25px; background-color: rgba(97, 99, 99, 0.544);">
    <div style="display:flex; justify-content: space-between;">
        <p style="font-size: 12px; vertical-align: middle;">New Applicants</p>
        <mat-icon style="font-size: 13px; margin-top: 10px;">navigate_next</mat-icon>
    </div>
    </button>

</mat-card>