<mat-card style="width:500px; height:190px; background-color:rgb(0, 0, 0);" id="bottomleft-card">


    <div style="display: flex; justify-content: space-between;">
    
        <h5>Referals and Campaign Stats</h5>
    
        <div class="container" style="line-height: 0.5em;">
            <mat-icon style="font-size:15px; color: rgb(226, 60, 54)">send</mat-icon>
            <span style="display: inline-block;"><p style="font-size:10px; color: rgb(226, 60, 54)">40 Campaigns sent in total</p></span>
            <p style="font-size:10px; color: rgb(255, 255, 255); margin-top: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 Campaigns sent in last month</p>
        </div>
    
    </div>
    
    
    
    
    <div style="display: flex; justify-content: space-between;">
    
        <div class="container-a" >
            <p style="font-size:10px;">Users Reached</p>
            <mat-icon style="font-size:13px; color:rgb(45, 149, 223)">north_east</mat-icon>
            <span style="display: inline; font-size:10px; color:rgb(45, 149, 223)">+3.59%</span>
            <p style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7956</p>
        </div>
    
    
        <mat-divider [vertical]="true" style="height:100px; width:50px; color:white"></mat-divider>
    
    
        <div class="container-a">
            <p style="font-size:10px;">Referals</p>
            <mat-icon style="font-size:13px; color:rgb(45, 149, 223)">north_east</mat-icon>
            <span style="display: inline; font-size:10px; color:rgb(45, 149, 223)">+9.01%</span>
            <p style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0662</p>
        </div>
        
        
        <mat-divider [vertical]="true" style="height:100px; width:50px; color:white"></mat-divider>
    
    
        <div class="container-a">
            <p style="font-size:10px;">Shares</p>
            <mat-icon style="font-size:13px; color:rgb(45, 149, 223)">north_east</mat-icon>
            <span style="display: inline; font-size:10px; color:rgb(45, 149, 223)">+12.00%</span>
            <p style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0564</p>
        </div>
        
        
        <mat-divider [vertical]="true" style="height:100px; width:50px; color:white"></mat-divider>
    
    
        <div class="container-a">
            <p style="font-size:10px;">Applications</p>
            <mat-icon style="font-size:13px; color:rgb(45, 149, 223)">north_east</mat-icon>
            <span style="display: inline; font-size:10px; color:rgb(45, 149, 223)">+3.59%</span>
            <p style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7956</p>
        </div>
         
    </div>
    
    <br>
    <div style="display: flex; justify-content: space-between;">
    
        <button id="blue-button" mat-raised-button style="background-color: rgb(62, 170, 236); color:rgb(255, 255, 255); width:230px;">
            Start a New Campaign now
        </button>
    
        <button id="red-button" mat-raised-button style="background-color: rgb(226, 60, 54); color:rgb(255, 255, 255); width:230px;">
            Pause All Running Campaigns
        </button>
    
    </div>
    
    
    </mat-card>
    
    